body {
    height: 100%;
    min-height: 100%;
}

.main {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F8FD
}


.main__ch_5 {
    width: 85%;
    margin: 8px auto;
    height: 100%;
    padding: 16px;
    text-align: center;
    color:black;
    text-decoration: none;
}

#main__ch_5__title {
    font-weight: 600;
}

.main__ch_5__title__div_el {
    color: #5a5a5a;
    text-decoration: none !important;
    font-weight: 500;
}

.main__ch_5__title__div_el:hover {
   border-bottom: 2px solid black;
   width: 100%;
}



footer {
    min-height: 36px;
    height: 15%;
    width: 100%;
    clear: both;
    position: relative;
    padding-top: 36px;
    margin-top: -36px;
    background-color: #F9F8FD;
    color: #929eaa;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
